<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.webServer>

    <rewrite>
      <rules>

        <rule name="www" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www[.](.+)" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}"
                  redirectType="Permanent" />
        </rule>

        <rule name="TemporaryRedirectOnNewsSite" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/news"
                  redirectType="Temporary" />
        </rule>

        <rule name="News" stopProcessing="true">
          <match url="^news/?(.*)" />
          <action type="Rewrite" url="http://news.domok.net/{R:1}" />
        </rule>

        <rule name="allToNews" stopProcessing="true">
          <match url="^/?(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" negate="true" pattern="^/google902d9e434e6a4071.html$" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/yandex_4fead1da0d2fc206.html$" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/robots.txt$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://news.domok.net/{R:1}" />
        </rule>

        <!--<rule name="Main" stopProcessing="true">
          <match url="/?(.*)" />
          <action type="Rewrite" url="http://domok.azurewebsites.net/{R:1}" />
        </rule>-->

      </rules>
    </rewrite>

  </system.webServer>


</configuration>